* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
  background-color: #f4f9ff;
  padding: 20px;
}

#profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 10px;
}

.Profile {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: #ffffff;
  margin: 15px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #0074cc;
  width: 25vw;
}

#personal-info h1 {
  font-size: 2em;
  color: #0074cc;
  margin-bottom: 10px;
}

#personal-info p {
  color: #444;
  font-size: 1em;
}

#personal-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 10px;
}

#education h2, #skills h2, #work-experience h2 {
  font-size: 1.5em;
  color: #33cc99;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  color: #333;
}

ul li {
  padding: 5px 0;
  font-size: 1em;
  color: #555;
}

button {
  background-color: #33cc99;
  color: #ffffff;
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #28a87a;
}

form {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

form h3 {
  color: #0074cc;
  font-size: 1.2em;
  margin-bottom: 10px;
}

form input[type="text"], form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  width: 100%;
  background-color: #33cc99;
  color: #ffffff;
  font-size: 1em;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #28a87a;
}

#resume-links {
  margin-top: 20px;
  text-align: center;
}

#resume-links input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1em;
}

#shareLink a{
  display: inline-block; /* Optional: Adjust based on layout needs */
  max-width: 100%;       /* Keeps the text within the container */
  overflow: hidden;      /* Hides any overflow */
  text-overflow: ellipsis; /* Adds "..." for overflowed text */
  white-space: nowrap;
}

#resume-links button {
  width: 80%;
  padding: 10px;
  font-size: 1em;
}
